# Amostragens

In [1]:
import numpy as np
import pandas as pd

In [10]:
enem_sp = pd.read_csv('enem_2019_tratado.csv', sep=',', encoding='iso-8859-1')

In [11]:
enem_sp.head()

,NU_INSCRICAO,NO_MUNICIPIO_RESIDENCIA,IDADE,SEXO,TP_ESTADO_CIVIL,RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,ESCOLA,CO_ESCOLA,...,NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,COMP1,COMP2,COMP3,COMP4,COMP5,NOTA_REDACAO,INTERNET
0,"1,90E+11",Santa Isabel,22,M,1,parda,1,1,não_respondeu,NaN,...,600.2,Inglês,1.0,160.0,200.0,180.0,200.0,200.0,940.0,Sim
1,"1,90E+11",São Paulo,17,F,1,parda,1,2,privada,15567761.0,...,731.8,Inglês,1.0,160.0,120.0,200.0,200.0,200.0,880.0,Não
2,"1,90E+11",São Bernardo do Campo,19,M,1,parda,1,2,pública,35904958.0,...,393.2,Espanhol,1.0,80.0,160.0,120.0,100.0,100.0,560.0,Sim
3,"1,90E+11",Embu-Guaçu,17,F,1,parda,1,2,pública,NaN,...,419.2,Inglês,1.0,120.0,120.0,120.0,120.0,80.0,560.0,Sim
4,"1,90E+11",Guarulhos,23,F,1,branca,1,1,não_respondeu,NaN,...,796.1,Inglês,1.0,160.0,200.0,180.0,180.0,160.0,880.0,Sim

In [14]:
enem_campinas = enem_sp.loc[enem_sp.NO_MUNICIPIO_RESIDENCIA == 'Campinas'] # localizar na coluna

In [17]:
enem_campinas.head(10)

,NU_INSCRICAO,NO_MUNICIPIO_RESIDENCIA,IDADE,SEXO,TP_ESTADO_CIVIL,RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,ESCOLA,CO_ESCOLA,...,NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,COMP1,COMP2,COMP3,COMP4,COMP5,NOTA_REDACAO,INTERNET
15,"1,90E+11",Campinas,17,F,1,branca,1,1,não_respondeu,NaN,...,496.5,Inglês,1.0,160.0,120.0,140.0,140.0,120.0,680.0,Sim
31,"1,90E+11",Campinas,19,F,1,parda,1,1,não_respondeu,NaN,...,73.1,Inglês,1.0,140.0,120.0,160.0,140.0,160.0,720.0,Sim
51,"1,90E+11",Campinas,17,F,1,branca,1,2,pública,NaN,...,417.5,Inglês,1.0,160.0,140.0,160.0,120.0,160.0,740.0,Sim
116,"1,90E+11",Campinas,17,F,1,branca,1,2,pública,26078562.0,...,480.5,Espanhol,1.0,120.0,60.0,60.0,100.0,0.0,340.0,Sim
169,"1,90E+11",Campinas,17,M,1,branca,1,2,privada,NaN,...,624.4,Inglês,1.0,140.0,120.0,140.0,160.0,160.0,720.0,Sim
186,"1,90E+11",Campinas,19,F,1,branca,1,1,não_respondeu,NaN,...,628.5,Inglês,1.0,120.0,120.0,120.0,120.0,80.0,560.0,Sim
236,"1,90E+11",Campinas,17,F,1,preta,1,2,privada,35112859.0,...,499.8,Inglês,1.0,160.0,120.0,120.0,160.0,200.0,760.0,Sim
325,"1,90E+11",Campinas,17,M,1,parda,1,2,pública,35907376.0,...,509.3,Inglês,1.0,80.0,120.0,100.0,100.0,80.0,480.0,Sim
401,"1,90E+11",Campinas,18,F,1,branca,1,1,não_respondeu,NaN,...,68.6,Inglês,1.0,160.0,160.0,180.0,160.0,200.0,860.0,Sim
469,"1,90E+11",Campinas,18,M,1,nao_declarado,1,1,não_respondeu,NaN,...,669.4,Inglês,1.0,140.0,180.0,120.0,160.0,120.0,720.0,Sim

# Amostragem Aleatória Simples

In [50]:
np.random.seed(1) # gera valor aleatório e sempre que rodar vai dar o mesmo número

In [60]:
# pega uma fração aleatória de enem campinas (amostragem aleatória) e pega 20% dos dados
amos_simples = enem_campinas.sample(frac=0.20) # porcentagem

In [61]:
amos_simples

,NU_INSCRICAO,NO_MUNICIPIO_RESIDENCIA,IDADE,SEXO,TP_ESTADO_CIVIL,RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,ESCOLA,CO_ESCOLA,...,NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,COMP1,COMP2,COMP3,COMP4,COMP5,NOTA_REDACAO,INTERNET
439968,"1,90E+11",Campinas,23,M,1,branca,1,1,não_respondeu,NaN,...,535.5,Inglês,1.0,120.0,120.0,120.0,120.0,100.0,580.0,Sim
149154,"1,90E+11",Campinas,17,F,1,branca,1,2,pública,35901088.0,...,607.6,Inglês,1.0,100.0,80.0,80.0,100.0,0.0,360.0,Sim
70541,"1,90E+11",Campinas,17,F,1,branca,1,2,privada,NaN,...,883.9,Inglês,1.0,180.0,200.0,180.0,200.0,180.0,940.0,Sim
327591,"1,90E+11",Campinas,29,F,2,branca,1,1,não_respondeu,NaN,...,361.4,Espanhol,1.0,120.0,120.0,120.0,100.0,140.0,600.0,Não
479997,"1,90E+11",Campinas,55,M,2,branca,1,1,não_respondeu,NaN,...,380.1,Espanhol,1.0,100.0,120.0,120.0,100.0,100.0,540.0,Sim
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
143838,"1,90E+11",Campinas,18,F,1,parda,1,2,pública,35436012.0,...,442.2,Espanhol,1.0,120.0,100.0,120.0,100.0,80.0,520.0,Sim
341090,"1,90E+11",Campinas,19,M,1,branca,1,1,não_respondeu,NaN,...,888.2,Inglês,1.0,180.0,200.0,200.0,200.0,180.0,960.0,Sim
79049,"1,90E+11",Campinas,20,F,1,branca,1,1,não_respondeu,NaN,...,596.2,Espanhol,1.0,100.0,120.0,120.0,140.0,100.0,580.0,Sim
468444,"1,90E+11",Campinas,18,M,1,branca,1,1,não_respondeu,NaN,...,37.7,Espanhol,1.0,100.0,120.0,80.0,120.0,0.0,420.0,Sim
63151,"1,90E+11",Campinas,17,M,1,branca,1,2,pública,35018797.0,...,470.7,Inglês,1.0,120.0,120.0,120.0,140.0,160.0,660.0,Sim

In [64]:
# seleciona aleatoriamente em quantidade numérica 
#amos_simples2 - enem_campinas.sample(30) # 3000 registros sorteados

NameError: name 'amos_simples2' is not defined

In [41]:
amos_simples

,NU_INSCRICAO,NO_MUNICIPIO_RESIDENCIA,IDADE,SEXO,TP_ESTADO_CIVIL,RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,ESCOLA,CO_ESCOLA,...,NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,COMP1,COMP2,COMP3,COMP4,COMP5,NOTA_REDACAO,INTERNET
439968,"1,90E+11",Campinas,23,M,1,branca,1,1,não_respondeu,NaN,...,535.5,Inglês,1.0,120.0,120.0,120.0,120.0,100.0,580.0,Sim
149154,"1,90E+11",Campinas,17,F,1,branca,1,2,pública,35901088.0,...,607.6,Inglês,1.0,100.0,80.0,80.0,100.0,0.0,360.0,Sim
70541,"1,90E+11",Campinas,17,F,1,branca,1,2,privada,NaN,...,883.9,Inglês,1.0,180.0,200.0,180.0,200.0,180.0,940.0,Sim
327591,"1,90E+11",Campinas,29,F,2,branca,1,1,não_respondeu,NaN,...,361.4,Espanhol,1.0,120.0,120.0,120.0,100.0,140.0,600.0,Não
479997,"1,90E+11",Campinas,55,M,2,branca,1,1,não_respondeu,NaN,...,380.1,Espanhol,1.0,100.0,120.0,120.0,100.0,100.0,540.0,Sim
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
143838,"1,90E+11",Campinas,18,F,1,parda,1,2,pública,35436012.0,...,442.2,Espanhol,1.0,120.0,100.0,120.0,100.0,80.0,520.0,Sim
341090,"1,90E+11",Campinas,19,M,1,branca,1,1,não_respondeu,NaN,...,888.2,Inglês,1.0,180.0,200.0,200.0,200.0,180.0,960.0,Sim
79049,"1,90E+11",Campinas,20,F,1,branca,1,1,não_respondeu,NaN,...,596.2,Espanhol,1.0,100.0,120.0,120.0,140.0,100.0,580.0,Sim
468444,"1,90E+11",Campinas,18,M,1,branca,1,1,não_respondeu,NaN,...,37.7,Espanhol,1.0,100.0,120.0,80.0,120.0,0.0,420.0,Sim
63151,"1,90E+11",Campinas,17,M,1,branca,1,2,pública,35018797.0,...,470.7,Inglês,1.0,120.0,120.0,120.0,140.0,160.0,660.0,Sim

outra maneira...
cria amostra c valores diferentes e separa qual a proporção de cada uma delas, no final relaciona os dados de acordo com os novos dados/números

In [67]:
np.random.seed(2) # outra semestre p outro número aleatório

In [68]:
# faz a amostra com o tamanho tal com números 0 e 1, com 80% para 0 e 20% para 1
amostra = np.random.choice(a=[0,1], size=13198, replace=True, p=[0.8,0.2])

In [69]:
len(amostra[amostra == 0])

10566

In [70]:
len(amostra[amostra == 1])

2632

In [72]:
amos_simples = enem_campinas.loc[amostra == 1]

In [73]:
amos_simples

,NU_INSCRICAO,NO_MUNICIPIO_RESIDENCIA,IDADE,SEXO,TP_ESTADO_CIVIL,RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,ESCOLA,CO_ESCOLA,...,NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,COMP1,COMP2,COMP3,COMP4,COMP5,NOTA_REDACAO,INTERNET
949,"1,90E+11",Campinas,17,F,1,branca,1,2,pública,35924573.0,...,601.4,Inglês,1.0,160.0,120.0,120.0,140.0,120.0,660.0,Sim
1058,"1,90E+11",Campinas,19,M,1,parda,1,1,não_respondeu,NaN,...,474.6,Inglês,1.0,120.0,120.0,120.0,160.0,100.0,620.0,Sim
1980,"1,90E+11",Campinas,17,F,1,parda,1,2,pública,35018302.0,...,479.9,Inglês,1.0,120.0,120.0,120.0,140.0,120.0,620.0,Não
2053,"1,90E+11",Campinas,18,F,1,parda,1,1,não_respondeu,NaN,...,424.2,Inglês,1.0,100.0,40.0,20.0,80.0,0.0,240.0,Sim
2328,"1,90E+11",Campinas,20,F,1,parda,2,1,não_respondeu,NaN,...,552.5,Espanhol,1.0,120.0,120.0,100.0,100.0,80.0,520.0,Sim
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
498946,"1,90E+11",Campinas,17,M,1,parda,1,2,pública,35018797.0,...,484.1,Inglês,1.0,120.0,120.0,120.0,120.0,80.0,560.0,Sim
499198,"1,90E+11",Campinas,18,M,1,preta,1,2,pública,35018363.0,...,666.4,Inglês,1.0,120.0,120.0,120.0,100.0,80.0,540.0,Sim
499258,"1,90E+11",Campinas,21,F,1,preta,1,1,não_respondeu,NaN,...,503.6,Inglês,1.0,120.0,120.0,120.0,140.0,120.0,620.0,Sim
499691,"1,90E+11",Campinas,17,F,1,preta,1,2,pública,35018089.0,...,770.3,Inglês,1.0,120.0,120.0,120.0,160.0,80.0,600.0,Sim
499883,"1,90E+11",Campinas,20,F,1,branca,1,1,não_respondeu,NaN,...,701.1,Inglês,1.0,160.0,200.0,200.0,200.0,180.0,940.0,Sim