# Medidas de dispersão e posição

In [13]:
import numpy as np
import pandas as pd

In [14]:
enem_sp = pd.read_csv('enem_2019_tratado.csv', sep=',', encoding='iso-8859-1')

## Medidas de Dispersão

In [15]:
enem_sp.NOTA_MT.var() # variância

33659.47050441148

In [16]:
enem_sp.NOTA_MT.std() # desvio padrão

183.46517518158993

In [17]:
enem_sp.NOTA_MT.mean() # média

497.5942403088371

In [ ]:
enem_sp.NOTA_MT.mad() # desvio absoluto, amplitude do desvio em relação à media. 
                      # não consegui rodar o comando!

In [25]:
enem_sp.NOTA_REDACAO.mean()

593.0183221986639

In [24]:
enem_sp.NOTA_REDACAO.std()

183.46517518158993

In [26]:
enem_sp.NOTA_REDACAO.var()

29082.774122780305

In [30]:
enem_sp.describe()

,IDADE,TP_ESTADO_CIVIL,TP_NACIONALIDADE,TP_ST_CONCLUSAO,CO_ESCOLA,TP_PRESENCA_CN,TP_PRESENCA_CH,TP_PRESENCA_LC,TP_PRESENCA_MT,NOTA_CN,NOTA_CH,NOTA_LC,NOTA_MT,TP_STATUS_REDACAO,COMP1,COMP2,COMP3,COMP4,COMP5,NOTA_REDACAO
count,499940.000000,499940.000000,499940.000000,499940.000000,1.768940e+05,499940.0,499940.0,499940.0,499940.0,499940.000000,499940.000000,499940.000000,499940.000000,499940.000000,499940.000000,499940.000000,499940.000000,499940.000000,499940.000000,499940.000000
mean,20.593387,1.053206,1.029902,1.476085,3.521138e+07,1.0,1.0,1.0,1.0,449.917000,482.228054,491.941262,497.594240,1.072105,125.000760,127.066808,118.760691,124.989359,97.200704,593.018322
std,6.465291,0.380866,0.230986,0.510351,4.430392e+05,0.0,0.0,0.0,0.0,152.982255,161.122963,156.247134,183.465175,0.584314,28.629513,39.846083,36.778882,33.879299,57.787427,170.536724
min,12.000000,0.000000,0.000000,1.000000,1.100306e+07,1.0,1.0,1.0,1.0,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,17.000000,1.000000,1.000000,1.000000,3.501625e+07,1.0,1.0,1.0,1.0,412.400000,450.600000,490.100000,427.900000,1.000000,120.000000,120.000000,100.000000,120.000000,60.000000,500.000000
50%,18.000000,1.000000,1.000000,1.000000,3.504496e+07,1.0,1.0,1.0,1.0,478.100000,523.700000,538.300000,511.800000,1.000000,120.000000,120.000000,120.000000,120.000000,100.000000,600.000000
75%,21.000000,1.000000,1.000000,2.000000,3.529070e+07,1.0,1.0,1.0,1.0,544.400000,578.100000,576.200000,617.900000,1.000000,140.000000,140.000000,140.000000,140.000000,140.000000,680.000000
max,91.000000,4.000000,4.000000,4.000000,5.300104e+07,1.0,1.0,1.0,1.0,860.900000,822.700000,772.300000,984.700000,9.000000,200.000000,200.000000,200.000000,200.000000,200.000000,1000.000000

## Medidas de Posição

In [27]:
# Mínimo
enem_sp['NOTA_MT'].min()

0.0

In [28]:
enem_sp.NOTA_MT.min()

0.0

In [29]:
# Máximo
enem_sp['NOTA_MT'].max()

984.7

In [31]:
# Primeiro Quartil
enem_sp['NOTA_MT'].quantile(q=0.25) # 25% dos menores valores

427.9

In [32]:
# Segundo Quartil (Mediana)
enem_sp['NOTA_MT'].quantile(q=0.5)

511.8

In [33]:
# Terceiro Quartil
enem_sp['NOTA_MT'].quantile(q=0.75)

617.9

In [ ]:
#enem_sp['NOTA_MT'].quantile(q=0.99) pode se trabalhar com qualquer valor de quartil

In [34]:
enem_sp.NOTA_MT.describe()

count    499940.000000
mean        497.594240
std         183.465175
min           0.000000
25%         427.900000
50%         511.800000
75%         617.900000
max         984.700000
Name: NOTA_MT, dtype: float64

In [35]:
round(enem_sp.describe(), 2)

,IDADE,TP_ESTADO_CIVIL,TP_NACIONALIDADE,TP_ST_CONCLUSAO,CO_ESCOLA,TP_PRESENCA_CN,TP_PRESENCA_CH,TP_PRESENCA_LC,TP_PRESENCA_MT,NOTA_CN,NOTA_CH,NOTA_LC,NOTA_MT,TP_STATUS_REDACAO,COMP1,COMP2,COMP3,COMP4,COMP5,NOTA_REDACAO
count,499940.00,499940.00,499940.00,499940.00,176894.00,499940.0,499940.0,499940.0,499940.0,499940.00,499940.00,499940.00,499940.00,499940.00,499940.00,499940.00,499940.00,499940.00,499940.00,499940.00
mean,20.59,1.05,1.03,1.48,35211378.17,1.0,1.0,1.0,1.0,449.92,482.23,491.94,497.59,1.07,125.00,127.07,118.76,124.99,97.20,593.02
std,6.47,0.38,0.23,0.51,443039.20,0.0,0.0,0.0,0.0,152.98,161.12,156.25,183.47,0.58,28.63,39.85,36.78,33.88,57.79,170.54
min,12.00,0.00,0.00,1.00,11003065.00,1.0,1.0,1.0,1.0,0.00,0.00,0.00,0.00,1.00,0.00,0.00,0.00,0.00,0.00,0.00
25%,17.00,1.00,1.00,1.00,35016251.00,1.0,1.0,1.0,1.0,412.40,450.60,490.10,427.90,1.00,120.00,120.00,100.00,120.00,60.00,500.00
50%,18.00,1.00,1.00,1.00,35044957.00,1.0,1.0,1.0,1.0,478.10,523.70,538.30,511.80,1.00,120.00,120.00,120.00,120.00,100.00,600.00
75%,21.00,1.00,1.00,2.00,35290701.00,1.0,1.0,1.0,1.0,544.40,578.10,576.20,617.90,1.00,140.00,140.00,140.00,140.00,140.00,680.00
max,91.00,4.00,4.00,4.00,53001036.00,1.0,1.0,1.0,1.0,860.90,822.70,772.30,984.70,9.00,200.00,200.00,200.00,200.00,200.00,1000.00

## Gráfico BoxPlot e Outliers

### Matplotlib

In [36]:
import matplotlib.pyplot as plt